@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import "./normalize.css";
@font-face {
    font-family: "StartC";
    src: url("../assets/fonts/13044.woff2") format("woff2"),
    url("../assets/fonts/13044.woff") format("woff");
    font-weight: bold;
    font-display: swap;
}

html {
    font-family: 'Oswald', sans-serif;
    background-color: #000;
    color: #fff;
    min-height: 100%;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}

body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.wrapper {
    max-width: 100%;
    padding: 0 16px;
}

.content {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}


.socials {
    padding: 0;
    margin: 0;
    display: flex;
    align-content: center;
    position: fixed;
    color: white;
    top: 10px;
    right: 16px;
    font-size: 20px;
    list-style: none;
    z-index: 20;
}

.socials__item {
    margin-left: 8px;
}

.socials__item:first-child {
    margin-left: 0;
}

.socials__link {
    display: block;
    width: 24px;
    height: 24px;
    color: #fff;
    transition: .3s opacity ease-in-out;
    will-change: opacity;
    opacity: 1;
}

.socials__link:hover {
    opacity: .5;
}

.footer {
    position: fixed;
    z-index: 20;
    bottom: 10px;
    left: 0;
    right: 0;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-family: 'StartC', sans-serif;
}

.footer .wrapper {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.sticky {
    position: sticky;
    z-index: 10;
    top: 0;
    width: 100%;
    min-height: 100vh;
    border-top: 2px solid green;
    padding: 64px 0;
}

.intro {
    display: flex;
    background-color: #000;
    border-top: none;
}

.intro .wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex: 1 1 100%;
}

.intro__bg {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 10;
    opacity: .4;
}

.intro__content {
    position: relative;
    z-index: 20;
}

.intro__bg video {
    width: 100%;
    display: block;
}

.intro__animation {
    max-width: 700px;
    fill: #fff;
    margin: 0 auto 24px;
}

.intro__animation svg {
    display: block;
    width: 100%;
}

.intro__animation .symbol, .phrase {
    transition: .2s ease-in-out all;
}

.intro__animation .phrase {
    font-size: 32px;
    opacity: 0;
    font-family: 'StartC', sans-serif;
    text-align: center;
    animation: opacity 1s ease-in-out 6s forwards;
}

.intro__animation .symbol_2,
.intro__animation .symbol_3,
.intro__animation .symbol_4,
.intro__animation .symbol_5,
.intro__animation .symbol_6,
.intro__animation .symbol_7,
.intro__animation .symbol_8 {
    opacity: 0;
    animation: opacity 3s ease-in-out 4.3s forwards;
}

.intro__animation .symbol_1 {
    transform: translateX(39%);
    opacity: 0;
    animation: opacity-translate-symbol-1 6s ease-in-out .3s forwards;

}

.intro__animation .symbol_9 {
    transform: translateX(-39%);
    opacity: 0;
    animation: opacity-translate-symbol-9 6s ease-in-out .3s forwards;
}

.nav__menu {
    display: flex;
    align-content: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    opacity: 0;
    will-change: opacity;
    animation: opacity 1s ease-in-out 6s forwards;
}

.nav__menu-item {
    margin: 0 16px;
}

.nav__menu-link {
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    transition: .3s ease-in-out opacity;
    opacity: 1;
    will-change: opacity;
}
@media (max-width: 961px) {
    .nav__menu-link {
        font-size: 16px;
    }
}

.nav__menu-link:hover {
   opacity: .5;
}

.info {
    background-color: #000;

}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes opacity-translate-symbol-1 {
    from {
        opacity: 0;
        transform: translateX(39%);
    }
    40% {
        opacity: 1;
        transform: translateX(39%);
    }
    60% {
        opacity: 1;
        transform: translateX(39%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes opacity-translate-symbol-9 {
    from {
        opacity: 0;
        transform: translateX(-39%);
    }
    40% {
        opacity: 1;
        transform: translateX(-39%);
    }
    60% {
        opacity: 1;
        transform: translateX(-39%);
    }
   to {
        opacity: 1;
        transform: translateX(0);
    }
}
